/*顶部固定菜单 begin*/
.top{
	height: 33px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	border-bottom: 1px solid gainsboro;
}
.top .top-nav{
	width: 1190px;
	height: 100%;
	margin: auto;
	font-size: 12px;
	color: #555;
	line-height: 33px;
	position: relative;
}
/*顶部固定菜单左侧网址栏 begin*/
.top .top-nav .website{
	float: left;
	/*overflow: hidden;*/
}
.top .top-nav .website li{
	float: left;
	margin-left: 4px;
}
.top .top-nav .website li:first-child{
	padding: 0 4px 0 8px;
	margin-left: 0;
}
.top .top-nav .website .iconfont{
	font-size: 12px;
	padding-right: 6px;
	color: #555;
}
/*顶部固定菜单左侧网址栏 end*/
/*顶部固定菜单右导航栏栏 begin*/
.top .top-nav .enter{
	float: right;
	overflow: hidden;
}
.top .top-nav .enter li{
	float: left;
	padding: 0 9px;
}
.top .top-nav .enter .iconfont{
	color: #555;
	font-size: 12px;
}
/*顶部固定菜单左侧网址栏 end*/
/*顶部固定菜单 end*/
/*顶部广告 begin*/
.first-adv{
	width: 1190px;
	height: 90px;
	margin: auto;
	margin-top: 33px;
}
.first-adv img{
	width: 1190px;
	height: 90px;
}
/*顶部广告 end*/
/*搜索栏 begin*/
.search{
	width: 1190px;
	margin: auto;
	margin-top: 3px;
	margin-bottom: 8px;
	position: relative;
}
/*企业图标 begin*/
.search .pic{
	display: inline-block;
	margin-right: -5px;
	vertical-align: middle;
}
/*企业图标 end*/
/*改变城市 begin*/
.search .city{
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.search .city .name{
	margin-top: -25px;
	color: #ff6901;
	font-weight: 600;
	padding-left: 7px;
	padding-right: 8px;
	position: relative;
	z-index: 100;
}
.search .city .more{
	color: #bbb;
	font-size: 12px;
	margin-top: 2px;
	margin-bottom: -30px;
	padding-left: 7px;
}
.search .city .name .iconfont{
	transition: all 1s;
	font-size: 8px;
	position: absolute;
	top: 6px;
	left: 50px;
}
/*改变城市 end*/
.search .gif{
	display: inline-block;
	vertical-align: middle;
	height: 80px;
	width: 80px;
	margin-left: 28px;
}
/*搜索框 begin*/
.search .search-box{
	display: inline-block;
	vertical-align: middle;
	height: 90px;
	margin-left: 80px;
	position: relative;
}
.search .search-box .zhubajie,
.search .search-box .tianpengwang{
	float: left;
	height: 26px;
	width: 56px;
	font-size: 12px;
	text-align: center;
	line-height: 26px;
}
.search .search-box .zhubajie{
	color: white;
	cursor: pointer;
}
.search .search-box .tianpengwang{
	color: #DE352F;
	cursor: pointer;
}
.search .search-box .input-box{
	float: left;
	clear: left;
	font-size: 12px;
	color: #ccc;
	position: relative;
}
.search .search-box .input-box input{
	width: 368px;
	padding: 7px 6px 6px 90px;
	height: 20px;
	border: 3px solid #ff6901;
	float: left;
}
.search .search-box .input-box button{
	text-align: center;
	color: white;
	border: 3px solid #ff6901;
	height: 39px;
	width: 56px;
	font-size: 16px;
	float: left;
	background-color: #ff6901;
}
.search .search-box .input-box span{
	padding: 0 9px 0 15px;
	line-height: 39px;
	float: left;
}
.search .search-box .input-box .demand{
	width: 120px;
	float: left;
	position: relative;
	overflow: visible;
}
.search .search-box .input-box .demand button{
	width: 100%;
	cursor: pointer;
}
.search .search-box .input-box .demand .iconfont{
	font-size: 8px;
	padding-left: 6px;
	vertical-align: middle;
}
.search .search-box .input-box .sort{
	position: absolute;
	width: 75px;
	padding: 7px 0px 6px 15px;
	height: 20px;
	border: 3px solid #ff6901;
	border-right: none;
	z-index: 10;
	color: #7d7d7d;
	font-size: 12px;
	line-height: 20px;
	top: 0;
	left: 0;
}
.search .search-box .input-box .sort .iconfont{
	vertical-align: middle;
	float:right;
	margin-right: 5px;
	margin-top: 1px;
}
.search .search-box ul{
	clear: both;
	float: left;
	overflow: hidden;
	margin-top: -20px;
	margin-left: 3px;
}
.search .search-box ul li{
	float: left;
	margin-right: 10px;
	font-size: 12px;
	line-height: 30px;
	color: #999;
}
.search .search-box ul li a{
	color: #999;
}
.search .search-box ul li .orange{
	color: #ff6901 !important;
}
/*搜索框 end*/
/*搜索栏 end*/
/*主导航栏 begin*/
.nav{
	width: 1190px;
	margin: auto;
	overflow: hidden;
	position: relative;
}
/*主导航栏左侧导航栏begin*/
.nav .left-nav{
	width: 205px;
	height: 540px;
	background-color: #ff5931;
	float: left;
}
.nav .left-nav .tit{
	width: 100%;
	height: 43px;
	line-height: 43px;
	text-align: center;
	color: white;
	background-color: #e63b0d;
	font-weight: normal;
	font-size: 16px;
}
.nav .left-nav .first-tit{
	width: 100%;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 12px;
}
.nav .left-nav .first-tit a{
	color: #fffac0;
	position: relative;
}
.nav .left-nav .first-tit a:before{
	content: '';
	width: 48px;
	position: absolute;
	border-top: 1px dashed #ef350e;
	top: 7px;
	left: -58px;
}
.nav .left-nav .first-tit a:after{
	content: '';
	width: 48px;
	position: absolute;
	border-top: 1px dashed #ef350e;
	top: 7px;
	right: -56px;
}
.nav .left-nav ul{
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	padding-left: 12px;
	position: relative;
}
.nav .left-nav ul li{
	padding-right: 18px;
	float: left;
	width: 49px;
}
.nav .left-nav ul li:last-child{
	padding-right: 0;
}
.nav .left-nav ul li a{
	color: white;
}
/*主导航栏左侧导航栏 end*/
/*主导航栏右侧导航栏 begin*/
.nav .right-nav{
	margin-left: 7px;
	height: 540px;
	width: 978px;
	/*background: red;*/
	float: left;
}
.nav .right-nav > ul{
	margin-top: 8px;
	margin-bottom: 13px;
	margin-left: 7px;
	height: 22px;
	line-height: 22px;
	font-size: 16px;
	font-weight: 600;
	overflow: hidden;
	float: left;
}
.nav .right-nav > ul li{
	text-align: center;
	margin-right: 18px;
	float: left;
}
.nav .right-nav .first-list li a{
	color: #ff6901;
}
.nav .right-nav .first-list .last{
	margin-right:  0;
	padding-right: 16px;
	position: relative;
}
.nav .right-nav .first-list .last:after{
	content: '';
	position: absolute;
	right: 0px;
	top: 4px;
	height: 16px;
	width: 1px;
	background: gainsboro;
}
.nav .right-nav .second-list li:first-child{
	margin-left: 13px;
}
.nav .right-nav .second-list li:last-child{
	margin-right: 0;
}
.nav .right-nav .second-list li a{
	color: #444;
}
.nav .right-nav .main-pic{
	float: left;
	position: relative;
	overflow: hidden;
	width: 450px;
	height: 497px;
}
.nav .right-nav .sub-pic{
	float: left;
	border-top: 1px solid gainsboro;
	border-right: 1px solid gainsboro;
	margin-right: 7px;
	margin-top: -2px;
}
.nav .right-nav .sub-pic a{
	display: block;
	border-bottom: 1px solid gainsboro;
	height: 165px;
}
/*主导航栏右侧导航栏 end*/
/*登录注册 维权框 begin*/
.nav .right-nav .welcome{
	border-left: 1px solid gainsboro;
	border-right: 1px solid gainsboro;
	float: left;
	width: 298px;
}
.nav .right-nav .welcome .top-head{
	height: 207px;
	border-bottom: 1px solid gainsboro;
}
.nav .right-nav .welcome .head{
	width: 298px;
	height: 127px;
	margin-bottom: 4px;
	overflow: hidden;
	background: url(../img/head-background.png) no-repeat;
}
.nav .right-nav .welcome .head img{
	margin: auto;
	margin-top: 13px;
	display: block;
}
.nav .right-nav .welcome .button{
	height: 30px;
}
.nav .right-nav .welcome .button a{
	height: 30px;
	margin-left: 17px;
	display: inline-block;
}
.nav .right-nav .welcome .button a button{
	height: 100%;
	text-align: center;
	width: 120px;
	border: none;
	font-size: 12px;
	color: white;
	cursor: pointer;
}
.nav .right-nav .welcome .club{
	margin-top: 12px;
	width: 100%;
}
.nav .right-nav .welcome .club a{
	font-size: 15px;
	color: #ff6900;;
	text-align: center;
	display: block;
}
.nav .right-nav .welcome .notice{
	height: 125px;
}
.nav .right-nav .welcome .notice .manu-detail{
	padding: 10px 0px 0 15px;
}
.nav .right-nav .welcome .notice .manu-detail ul{
	overflow: hidden;
}
.nav .right-nav .welcome .notice .manu-detail .special-ul li{
	width: 168px;
}
.nav .right-nav .welcome .notice .manu-detail .credit-search{
	height: 24px;
	width: 80px;
	text-align: center;
	line-height: 24px;
	border: 1px solid #ff9400;
	float: right;
	margin-top: -58px;
	margin-right: 20px;
}
.nav .right-nav .welcome .notice .manu-detail .credit-search a{
	color: #ff9400;
	font-size: 12px;
}
.nav .right-nav .welcome .notice .manu-detail li{
	float: left;
    width: 130px;
    padding-right: 11px;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    vertical-align: middle;
}
.nav .right-nav .welcome .manu{
	width: 100%;
	background-color: #f9f9f9;
}
.nav .right-nav .welcome .manu ul{
	overflow: hidden;
	width: 298px;
}
.nav .right-nav .welcome .manu ul li{
	float: left;
	border-right: 1px solid gainsboro;
	width: 73px;
	border-bottom: 1px solid gainsboro;
	text-align: center;
	font-size: 12px;
	line-height: 33px;
	color: #1b1b1b;
}
.nav .right-nav .welcome .manu ul li:first-child{
	border-bottom: none;
	background: white;
}
.nav .right-nav .welcome .manu ul li:last-child{
	border-right: none;
	padding-right: 3px;
}
.nav .right-nav .notice-pic{
	float: left;
	width: 300px;
	height: 167px;
	background: #0dad51;
	box-sizing: border-box;
	padding: 12px;
	color: white;
	text-align: center;
	font-size: 12px;
}
.nav .right-nav .notice-pic .fuwubao img{
	margin-top: 6px;
	float: left;
}
.nav .right-nav .notice-pic .fuwubao p{
	margin-left: 90px;
	text-align: left;
}
.nav .right-nav .notice-pic .fuwubao .p1{
	font-size: 18px;
}
.nav .right-nav .notice-pic .fuwubao .p2{
	font-size: 12px;
	margin-top: -4px;
}
.nav .right-nav .notice-pic ul{
	overflow: hidden;
	margin-left: 1px;
}
.nav .right-nav .notice-pic ul li{
	width: 60px;
	float: left;
	margin-top: 12px;
	margin-right: 11px;
}
.nav .right-nav .notice-pic ul li:last-child{
	margin-right: 0;
}
.nav .right-nav .notice-pic ul li a{
	color: white;
}
/*登录注册 维权框 end*/
/*主导航栏 end*/
/*发现栏 bengin*/
.discover{
	width: 1190px;
	margin: 20px auto;
	border: 1px solid gainsboro;
	padding: 20px 28px;
	box-sizing: border-box;
}
.discover .carte{
	height: 68px;
	width: 100%;
	overflow: hidden;
}
.discover .carte .sub-carte{
	float: left;
	width: 376px;
	border-right: 1px solid gainsboro;
	height: 100%;
	padding: 10px 0;
	box-sizing: border-box;
}
.discover .carte .sub-carte.last{
	border-right: none;
}
.discover .carte .sub-carte h3{
	font-size: 20px;
	width: 40px;
	float: left;
	line-height: 22px;
	color: #333;
	margin-left: 20px;
}
.discover .carte .sub-carte h3.first-header{
	margin-left: 0;
}
.discover .carte .sub-carte ul{
	overflow: hidden;
	margin-left: 75px;
}
.discover .carte .sub-carte li{
	float: left;
	font-size: 14px;
	line-height: 22px;
	margin-right: 15px;
	width: 60px;
}
.discover .carte .sub-carte li a{
	color: #555;
}
.discover .carte .sub-carte ul.first-ul{
	margin-left: 65px;
}
/*发现栏 end*/
/*开店赚钱 begin*/
.earnmoney{
	position: relative;
	width: 1190px;
	margin: auto;
	height: 168px;
	background: url(../img/bg-earnmoney.png) no-repeat;
	margin-bottom: 20px;
}
.earnmoney .clickToEarn{
	position: absolute;
	height: 44px;
	width: 178px;
	text-align: center;
	line-height: 44px;
	font-size: 20px;
	border-radius: 5px;
	left: 30px;
	top: 93px;
}
.earnmoney .clickToEarn:after{
	content: '近期已有28000+服务商开店赚钱';
	color: #ff6901;
	width: 300px;
	height: 12px;
	text-align: left;
	font-size: 12px;
	position: absolute;
	bottom: -2px;
	left: 2px;
}
.earnmoney .clickToEarn a{
	color: white;
}
/*开店赚钱 end*/
/*推荐栏 begin*/
.recom{
	width: 1190px;
	margin: auto;
	margin-bottom: 20px;
}
.recom .recom-pic{
	display: inline-block;
}
.recom .recom-com{
	display: inline-block;
}
/*推荐栏 end*/
/*品牌栏 begin*/
.pinpai{
	width: 1190px;
	margin: auto;
	margin-bottom: 40px;
}
.pinpai .pinpai-pic{
	display: inline-block;
	vertical-align: top;
}
.pinpai .pinpai-com{
	display: inline-block;
	border-left: 1px solid gainsboro;
	border-top: 1px solid gainsboro;
	overflow: hidden;
}
.pinpai .pinpai-com .pinpai-box{
	float: left;
	border-right: 1px solid gainsboro;
	border-bottom: 1px solid gainsboro;
	height: 99px;
	width: 168px;
	line-height: 99px;
	text-align: center;
	font-size: 14px;
	position: relative;
	overflow: hidden;
}
.pinpai .pinpai-com .pinpai-box img{
	width: 168px;
	height: 99px;
}
.pinpai .pinpai-com .pinpai-box a{
	color: #939292;
}
/*品牌栏 end*/
/*第二个广告 begin*/
.second-adv{
	width: 1190px;
	margin: auto;
	overflow: hidden;
	margin-bottom: 20px;
}
/*第二个广告 end*/
/*商家分类 begin*/
.classify{
	overflow: hidden;
	width: 1190px;
	margin: auto;
	margin-bottom: 20px;	
}
.classify .classify-box{
	width: 587px;
	height: 305px;
	border: 1px solid gainsboro;
	margin-bottom: 20px;
	overflow: hidden;
}
.classify .classify-box .large-img{
	float: left;
	border-right: 1px solid gainsboro;
}
.classify .classify-box .large-img img{
	height: 305px;
	width: 199px;
}
.classify .classify-box .small-img{
	float: right;
	height: 152px;
	border-left: 1px solid gainsboro;
	border-bottom: 1px solid gainsboro;
}
.classify .classify-box .small-img.second{
	float: right;
	clear: right;
	border-left: 1px solid gainsboro;
	border-bottom: none;
}
.classify .classify-box .content{
	float: left;
	width: 222px;
	height: 270px;
	padding: 35px 0 0 30px;
}
.classify .classify-box .content .vertical{
	float: left;
	margin-right: 10px;
	margin-top: 5px;
	width: 3px;
	height: 18px;
}
.classify .classify-box .content h4{
	font-size: 18px;
	float: left;
}
.classify .classify-box .content a{
	color: #333;
}
.classify .classify-box .content .detail ul li.d-orange a{
	color: #ff7900;
}
.classify .classify-box .content .detail{
	clear: left;
	overflow: hidden;
	font-size: 12px;
	margin-bottom: 1px;
}
.classify .classify-box .content .detail.d-top{
	margin-top: 35px;
}
.classify .classify-box .content .detail.d-bottom{
	margin-top: 18px;
}
.classify .classify-box .content .detail h5{
	font-size: 14px;
	margin-left: 3px;
	float: left;
	width: 32px;
	text-align: center;
}
.classify .classify-box .content .detail ul{
	float: left;
	overflow: hidden;
	line-height: 22px;
	width: 160px;
}
.classify .classify-box .content .detail ul li{
	float: left;
	margin-left: 15px;
	width: 65px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/*商家分类 end*/
/*全能市场*/
.market{
	overflow: hidden;
	width: 1190px;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 30px;	
}
.market h2{
	text-align: center;
	font-size: 20px;
	position: relative;
}
.market h2 img{
	vertical-align: middle;
	width: 30px;
	height: 30px;
	margin-right: 5px;
}
.market h2:before,
.market h2:after{
	content: '';
	background: gainsboro;
	height: 1px;
	width: 103px;
	position: absolute;
	top: 15px;
}
.market h2:before{
	left: 420px;
}
.market h2:after{
	right: 420px;
}
.market .market-list{
	overflow: hidden;
	border-top: 1px solid gainsboro;
	border-right: 1px solid gainsboro;
	margin-top: 20px;
}
.market .market-list .submarket-list{
	border-left: 1px solid gainsboro;
	border-bottom: 1px solid gainsboro;
	height: 250px;
	width: 197px;
	float: left;
}
.market .market-list .submarket-list h3{
	text-align: center;
	padding: 15px 0;
	font-size: 18px;
	line-height: 30px;
}
.market .market-list .submarket-list h3 img{
	vertical-align: middle;
	width: 30px;
	height: 30px;
	margin-right: 6px;
}
.market .market-list .submarket-list ul{
	margin: 7px 0 0 30px;
	overflow: hidden;
}
.market .market-list .submarket-list ul li{
	width: 78px;
	margin-top: 14px;
	height: 13px;
	float: left;
	font-size: 12px;
	line-height: 13px;
}
.market a.m-orange{
	color: #ff7900;
}
/*全能市场end*/
/*第三个广告 begin*/
.third-adv{
	width: 1190px;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 40px;	
}
/*第三个广告 end*/
/*猜你喜欢 begin*/
.guess{
	overflow: hidden;
	width: 1190px;
	margin: auto;
	margin-bottom: 20px;	
}
.guess h2{
	text-align: center;
	font-size: 20px;
	position: relative;
}
.guess h2:before,
.guess h2:after{
	content: '';
	background: gainsboro;
	height: 1px;
	width: 536px;
	position: absolute;
	top: 15px;
}
.guess h2:before{
	left: 0px;
}
.guess h2:after{
right: 0px;
}
.guess ul{
	margin-top: 15px;
	overflow: hidden;
}
.guess ul li{
	float: left;
	background: #f8f8f8;
	width: 190px;
	height: 270px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.guess ul li.last{
	margin-right: 0;
}
.guess ul li .guess-pic{
	height: 190px;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.guess ul li p{
	font-size: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: 0 14px;
}
.guess ul li p.guess-name{
	margin: 13px 15px;
}
.guess ul li p.guess-price{
	color: #ff7900;
	font-size: 12px;
	margin-top: -5px;
	margin-bottom: 2px;
}
.guess ul li p.guess-price span{
	font-size: 17px;
}
.guess ul li p.guess-deal{
	font-size: 11px;
	color: #999;
	margin-right: 0;
}
.guess ul li p.guess-location{
	font-size: 11px;
	color: #999;
	margin-left: 0;
}
.guess ul li p.guess-location .iconfont{
	font-size: 11px;
	margin-right: 6px;
	vertical-align: middle;
}
/*猜你喜欢 end*/
/*服务商推荐 begin*/
.facilitator{
	overflow: hidden;
	width: 1190px;
	margin: auto;
	margin-bottom: 40px;
}
.facilitator .fa-tit{
	height: 40px;
	line-height: 40px;
	border-bottom: 3px solid #e8e8e8;
	margin-bottom: 20px;
}
.facilitator .fa-tit .sub-tit{
	font-size: 16px;
	color: #999;
	padding: 0 20px;
	display: inline-block;
	border-bottom: 3px solid #e8e8e8;
	float: left;
}
.facilitator .fa-tit .sub-tit.cur{
	border-bottom: 3px solid #ff6600;
	color: #ff6600;
}
.facilitator .fa-list{
	width: 100%;
	padding: 25px;
	background: #f6f6f6;
	margin-bottom: 20px;
}
.facilitator .fa-list ul{
	height: 332px;
	overflow: hidden;
}
.facilitator .fa-list ul li{
	width: 195px;
	margin-right: 41px;
	background: white;
	height: 100%;
	float: left;
	color: #949494;
	font-size: 12px;
}
.facilitator .fa-list ul li .fa-pic{
	padding: 5px;
	margin-bottom: 2px;
	border: 1px solid #e5e5e5;
}
.facilitator .fa-list ul li .fa-pic img{
	width: 183px;
	height: 183px;	
}
.facilitator .fa-list ul li p{
	margin: 2px 7px;
}
.facilitator .fa-list ul li .fa-name a{
	color: #0b73bb;
    font-weight: bold;

}
.facilitator .fa-list ul li .fa-income span{
	color: #ff3b3b;
	margin-left: 5px;
}
.facilitator .fa-list ul li .fa-deal span{
	float: right;
}
.facilitator .fa-list ul li .fa-service{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.facilitator .fa-list ul li .fa-level{
	margin-left: 7px;
}
.facilitator .fa-method{
	height: 35px;
	background: #f6f6f6;
	font-size: 12px;
	width: calc(100%-26px);
	padding: 0 13px;
	line-height: 35px;
	color: #666;
}
.facilitator .fa-method .question{
	font-size: 16px;
}
.facilitator .fa-method ul .method span{
	color: #f60;
	margin: 0 10px;
	font-size: 14px;
}
.facilitator .fa-method ul .space{
	width: 40px;
	height: 35px;
}
/*服务商推荐 end*/
/*需求推荐 begin*/
.demand{
	overflow: hidden;
	width: 1190px;
	margin: auto;
	margin-bottom: 20px;
}
.demand .de-tit{
	height: 40px;
	line-height: 40px;
	border-bottom: 3px solid #e8e8e8;
	margin-bottom: 5px;
}
.demand .de-tit .sub-tit{
	font-size: 16px;
	color: #999;
	margin-right: 20px;
	display: inline-block;
	border-bottom: 3px solid #e8e8e8;
	float: left;
	cursor: pointer;
}
.demand .de-tit span{
	float: left;
	color: #999;
	line-height: 42px;
	margin-right: 20px;
}
.demand .de-tit .sub-tit.cur{
	border-bottom: 3px solid #ff6600;
	color: #ff6600;
}
.demand .de-tit .de-more{
	font-size: 12px;
	margin-left: 40px;
	color: #ff6702;
	line-height: 42px;
	float: left;
}
.demand .de-list{
	float: left;
	overflow: hidden;
	width: 974px;
	border-right: 1px solid gainsboro;
	position: absolute;
	top: 0;
	left: 0;
}
.demand .de-list .sub-de-list{
	float: left;
	padding: 8px 0px;
	width: 290px;
	margin-right: 30px;
}
.demand .de-list .sub-de-list p{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 12px;
	color: #999;
	line-height: 20px;
}
.demand .de-list .sub-de-list p .de-money{
	color: #ff8400;
	margin-right: 5px;
	font-size: 14px;
}
.demand .de-list .sub-de-list p .de-position{
	font-size: 14px;
}
.demand .de-list .sub-de-list p .de-promulgator{
	margin-right: 8px;
}
.demand .de-free{
	float: right;
	width: 200px;
	height: 383px;
	padding: 15px 0 0 15px;
	overflow: hidden;
}
.demand .de-free .de-btn{
	height: 40px;
	line-height: 40px;
	font-family: simsun, serif;
	font-weight: bold;
	color: #fff;
	background: #f60;
	font-size: 14px;
	text-align: center;
	width: 100%;
}
.demand .de-free .free-list{
	padding-top: 6px;
}
.demand .de-free .free-list li{
	padding: 10px 0;
}
.demand .de-free .free-list li p{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 12px;
	color: #999;
}
.demand .de-free .free-list li p .free-position{
	color: #999;
}
.demand .de-free .free-list li p .free-money{
	color: #ff8400;
	margin-right: 5px;
}
.demand .de-method{
	height: 35px;
	background: #f6f6f6;
	font-size: 12px;
	width: 1164px;
	padding: 0 13px;
	line-height: 35px;
	color: #666;
}
.demand .de-method .question{
	font-size: 16px;
}
.demand .de-method ul .method span{
	color: #f60;
	margin: 0 10px;
	font-size: 14px;
}
.demand .de-method ul .space{
	width: 40px;
	height: 35px;
}
/*需求推荐 end*/
/*第四个广告 begin*/
.fourth-adv{
	width: 1190px;
	margin: auto;
	margin-bottom: 10px;
}
/*第四个广告 end*/
/*案例 begin*/
.case{
	overflow: hidden;
	width: 1190px;
	margin: auto;
	margin-bottom: 20px;
}
.case .case-tit{
	height: 40px;
	line-height: 40px;
	border-bottom: 3px solid #e8e8e8;
	margin-bottom: 20px;
}
.case .case-tit .sub-tit{
	font-size: 16px;
	color: #333333;
	padding: 0 20px;
	display: inline-block;
	border-bottom: 3px solid #e8e8e8;
	float: left;
}
.case .case-tit .case-more{
	font-size: 12px;
	color: #ff6702;
	line-height: 42px;
	float: left;
}
.case .case-left{
	float: left;
	width: 290px;
	margin-right: 40px;
	position: relative;
	overflow: hidden;
}
.case .case-left .case-name{
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	text-align: center;
	color: white;
	background: #ff9000;
	margin-top: -6px;
	width: 288px;
}
.case .case-middle{
	margin-right: 8px;
	float: left;
	overflow: hidden;
	text-align: center;
	font-size: 14px;
	width: 650px;	
}
.case .case-middle li{
	margin-right: 12px;
	margin-bottom: 12px;
	float: left;
	position: relative;
	overflow: hidden;
}
.case .case-middle li img{
	height: 140px;
	min-width: 200px;
}
.case .case-middle li .case-name{
	height: 39px;
	line-height: 39px;
	background: #fbfbfb;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: -6px;
}
.case .case-right{
	float: right;
	overflow: hidden;
	width: 200px;
	font-size: 12px;
	color: #999;
}
.case .case-right img{
	height: 220px;
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.case .case-right .case-top{
	margin-top: 12px;
	margin-bottom: 28px;
	color: #333;
}
.case .case-right .case-center .case-money{
	color: #ff8400;;
}
.case .case-right .case-center .case-service{
	color: #333;
}
.case .case-right .case-btn{
	margin-top: 12px;
	color: #fff;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-family: "Microsoft YaHei", sans-serif;
	font-size: 14px;
	background: #f60;
}
/*案例 end*/
/*八戒热门 begin*/
.hot{
	overflow: hidden;
	width: 1190px;
	margin: auto;
	margin-bottom: 20px;
}
.hot .hot-tit{
	height: 40px;
	line-height: 40px;
	border-bottom: 3px solid #e8e8e8;
}
.hot .hot-tit .sub-tit{
	color: #333;
	font-size: 16px;
	font-weight: bold;
	padding: 0 20px;
	display: inline-block;
	border-bottom: 3px solid #e8e8e8;
	float: left;
}
.hot .hot-list1{
	float: left;
	width: 375px;
	padding-right: 15px;
}
.hot .hot-list2{
	float: left;
	width: 375px;
	padding: 0 15px;
	border-left: 1px solid gainsboro;
}
.hot .hot-list3{
	float: left;
	width: 375px;
	padding-left: 15px;
	border-left: 1px solid gainsboro;
}
.hot .hot-name{
	overflow: hidden;
	margin: 12px 0 7px;
}
.hot .hot-name .name{
	float: left;
	color: #f60;
	font-size: 16px;
	font-weight: 500;
}
.hot .hot-name .hot-more{
	float: right;
	line-height: 28px;
	font-size: 12px;
}
.hot .sub-hot-list li{
	border-top: 1px dotted #ccc;
	padding: 10px 0;
	overflow: hidden;
	color: #999;
}
.hot .sub-hot-list li.hot-first{
	border-top: none;
}
.hot .sub-hot-list li.hot-first .hot-pic{
	width: 140px;
	height: 110px;
	margin-right: 15px;
	float: left;
}
.hot .sub-hot-list li.hot-first .hot-pic img{
	height: 100%;
	width: 100%;
}
.hot .sub-hot-list li.hot-first .list-name{
	float: left;
	width: 220px;
}
.hot .sub-hot-list li.hot-first .text{
	float: left;
	width: 220px;
	height: 54px;
	margin-bottom: 5px;
}
.hot .sub-hot-list li.hot-first .time{
	float: left;
}
.hot .sub-hot-list li .list-name{
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 8px;
	height: 21px;
	overflow: hidden;
}
.hot .sub-hot-list li .list-name a{
	color: #555;
}
.hot .sub-hot-list li .text{
	height: 34px;
	font-size: 12px;
	overflow: hidden;
	margin-bottom: 10px;
}
.hot .sub-hot-list li .time{
	font-size: 12px;
}
/*八戒热门 end*/
/*第五个广告 begin*/
.fifth-adv{
	width: 1190px;
	margin: 30px auto 20px;
}
/*第五个广告 end*/
/*第一个页脚 begin*/
.first-footer{
	padding: 30px 0;
	margin-bottom: 15px;
	background: url(../img/lbg.jpg) no-repeat;
	background-size: 100%;
}
.first-footer a{
	color: #999;
}
.first-footer .w{
	width: 1190px;
	margin: auto;
}
.first-footer .w ul{
	overflow: hidden;
}
.first-footer .w ul li{
	float: left;
	width: 16.6%;
	padding-left: 83px;
}
.first-footer .w ul li h3{
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 15px;
}
.first-footer .w ul li h3 a{
	display: inline-block;
	height: 24px;
}
.first-footer .w ul li h3 .iconfont{
	margin-right: 5px;
	font-size: 20px;
	vertical-align: bottom;
	line-height: 24px;
}
.first-footer .w ul li p{
	width: 49%;
	float: left;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
}
/*第一个页脚 end*/
/*第二个页脚 begin*/
.second-footer{
	width: 1190px;
	margin: 0 auto 20px;
	color: #999;
	font-size: 12px;
	text-align: center;
}
.second-footer .site-link{
	line-height: 30px;
}
.second-footer .site-link a{
	color: #666;
}
.second-footer .site-link span{
	margin: 0 5px;
	color: #eee;
}
.second-footer .friend-link{
	height: 24px;
	line-height: 24px;
}
.second-footer .friend-link a{
	color: #999;
	margin-right: 5px;
}
.second-footer .copyright{
	margin-bottom: 10px;
}
.second-footer .copyright a{
	color: #999;
}
.second-footer .copyright a img{
	vertical-align: middle;
}
.second-footer .pic-link a{
	margin-left: 20px;
}
.second-footer .pic-link a img{
	height: 47px;
}
/*第二个页脚 end*/
/*右侧固定栏 begin*/
.right-sidebar{
	position: fixed;
	z-index: 2000;
	top: 0;
	right: -250px;
	-webkit-transition: right .6s;
	transition: right .6s;
	width: 285px;
	min-height: 600px;
	height: 100%;
	background-color: #EEEEEE;
}
.right-sidebar .left-coloumn{
	background-color: #7d7d7d;
	width: 35px;
	float: left;
	height: 100%;
}
.right-sidebar .right-coloumn{
	width: 250px;
	float: left;
	height: 100%;
	box-sizing: ;
}
.right-sidebar a{
	color: white;
}
.right-sidebar .right-sidebar-top{
	position: absolute;
	bottom: 52%;
}
.right-sidebar ul li{
	color: #fff;
	width: 23px;
	text-align: center;
	font-size: 12px;
	padding: 0px 6px;
	position: relative;
}
.right-sidebar  ul li.first-icon{
	padding-bottom: 6px;
}
.right-sidebar .iconfont{
	color: white;
	font-size: 25px;	
}
.right-sidebar .right-sidebar-bottom{
	position: absolute;
	bottom: 5%;
}
/*右侧固定栏 end*/