
@font-face {font-family: "iconfont";
  src: url('../fonts3/iconfont.eot?t=1495586138216'); /* IE9*/
  src: url('../fonts3/iconfont.eot?t=1495586138216#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts3/iconfont.woff?t=1495586138216') format('woff'), /* chrome, firefox */
  url('../fonts3/iconfont.ttf?t=1495586138216') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts3/iconfont.svg?t=1495586138216#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before { content: "\f0082"; }

.icon-saoyisao:before { content: "\e610"; }

.icon-lianxiren:before { content: "\e61c"; }

.icon-yijianfankui:before { content: "\e672"; }

.icon-xiaoxi:before { content: "\e615"; }

.icon-qian:before { content: "\e68a"; }

.icon-qiandao:before { content: "\e601"; }

.icon-zuji:before { content: "\e638"; }

.icon-top:before { content: "\e61f"; }

.icon-zaixianzixun:before { content: "\e698"; }

